n8n_dashboard_send_sms.json
{
  "name": "Dashboard - Send SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-send-sms",
        "responseMode": "lastNode",
        "options": {
          "responseData": "allEntries"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Dashboard Send SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "dashboard-send-sms"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Extract and validate input\nconst body = $input.item.json.body || $input.item.json;\nconst phone_digits = body.phone_digits;\nconst message = body.message;\nconst from_number = body.from_number || '+15617867541';\n\nif (!phone_digits || !message) {\n  throw new Error('Missing required fields: phone_digits and message');\n}\n\n// Format phone to E.164\nconst digits = String(phone_digits).replace(/\\D/g, '');\nconst to_e164 = digits.length === 10 ? `+1${digits}` : `+${digits}`;\n\nreturn {\n  to_e164,\n  from_e164: from_number,\n  message,\n  phone_digits: digits\n};"
      },
      "id": "prepare-sms",
      "name": "Prepare SMS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "from": "={{ $json.from_e164 }}",
        "to": "={{ $json.to_e164 }}",
        "message": "={{ $json.message }}"
      },
      "id": "send-twilio-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [440, 200],
      "credentials": {
        "twilioApi": {
          "id": "your-twilio-credential-id",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "messages",
        "columns": "conversation_id, phone_digits, direction, channel, from_number, to_number, body, status, provider, provider_message_sid, created_at",
        "values": "=(SELECT conversation_id FROM conversations WHERE phone_digits = '{{ $json.phone_digits }}' LIMIT 1), {{ $json.phone_digits }}, 'outbound', 'sms', '{{ $json.from_e164 }}', '{{ $json.to_e164 }}', '{{ $json.message }}', '{{ $('Send SMS via Twilio').item.json.status || 'sent' }}', 'twilio', '{{ $('Send SMS via Twilio').item.json.sid }}', now()"
      },
      "id": "log-message",
      "name": "Log to Messages Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 200],
      "credentials": {
        "postgres": {
          "id": "sdBZhJFZZakU48zS",
          "name": "Postgres Stop My Auction Now Project"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations SET last_outbound_at = now(), outbound_sms_count = COALESCE(outbound_sms_count, 0) + 1, updated_at = now() WHERE phone_digits = $1",
        "options": {
          "queryReplacement": "={{ $json.phone_digits }}"
        }
      },
      "id": "update-conversation",
      "name": "Update Conversation Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 200],
      "credentials": {
        "postgres": {
          "id": "sdBZhJFZZakU48zS",
          "name": "Postgres Stop My Auction Now Project"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message_sid: $('Send SMS via Twilio').item.json.sid, status: $('Send SMS via Twilio').item.json.status }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Webhook - Dashboard Send SMS": {
      "main": [
        [
          {
            "node": "Prepare SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Data": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Log to Messages Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Messages Table": {
      "main": [
        [
          {
            "node": "Update Conversation Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Stats": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
